.live-badge {
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
    transition: box-shadow 0.3s ease-in-out;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(239, 68, 68, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
    }
}

.card-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3.2rem;
    margin-bottom: 1rem;
    line-height: 1.6rem;
}

.chip-mini {
    font-size: 0.65rem !important;
    height: 20px !important;
    line-height: 20px !important;
    border-radius: 6px !important;
}

.chip-transparent {
    opacity: 0.45 !important; 
    backdrop-filter: blur(1px); 
}

.text-center {
    text-align:center;
}

.text-xs {
    font-size: 10px;
}

.text-sm {
    font-size: 13px;
}

.text-md {
    font-size: 15px;
}

.text-lg {
    font-size: 17.5px;
}

.text-secondary {
    color: var(--mud-palette-text-secondary);
}

.mud-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* Targets all MudCheckBox labels */
.mud-checkbox .mud-typography {
    font-size: 14px !important;
}

